h1 {
  word-break: break-word;
  font-weight: normal;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.ul-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;

  > button {
    position: absolute;
    transform: translateY(-50%);
    transition: 0.25s;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }

  .owl-prev {
    left: 0;
  }

  .owl-next {
    right: 0;
  }
}

.owl-dots {
  margin-top: 20px;
  text-align: center;
}

.owl-dot {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0 5px;
  transition: 0.25s;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e7e7e7;
  }

  &.active {
    span {
      background-color: $primary;
    }
  }
}

.page-link {
  border-radius: 50%;
  text-align: center;
  min-width: 33px;
  font-weight: 600;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .fa {
    font-size: 22px;
    color: $success;
    width: 43px;
    height: 43px;
    line-height: 41px;
    border: 1px solid $success;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 2px;
  }
}

.page-item{
  &:first-child {
    margin-right: auto;

    .fa {
      margin-right: 5px;
    }
  }

  &:last-child {
    margin-left: auto;

    .fa {
      margin-left: 5px;
    }
  }
}

.modal-header {
  border-bottom: none;
  
  .modal-title {
    order: -1;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
  }
}

.modal-content {
  .btn {
    margin: auto;
    display: block;
  }
}

.list-group-item + .list-group-item {
  border-top-width: 1px;
}

.content {
  width: 1110px;
}

.mburger {
  color: $secondary;
  --mb-button-size: 30px;
  --mb-bar-spacing: 9px;
  --mb-bar-width: 1;
  --mb-animate-timeout: 0s;
  --mb-bar-height: 2px;

  &:hover {
    color: darken($secondary, 8%);
  }
}

@media (min-width: 1200px) {
  .mburger {
    display: none;
  }
}

@media (max-width: 1499px) {
  .content {
    width: 830px;
  }
}

@media (max-width: 1199px) {
  .content {
    width: 650px;
  }
}

@media (max-width: 991px) {
  .content {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .page-item{
    &:first-child,
    &:last-child {
      font-size: 0;
    }
  }

  .page-link .fa {
    top: 0;
  }
}
