$font-family-base: "PT Root UI", Arial, sans-serif;
$body-color: #000000;
$primary: #0080d6;
$secondary: #ef9c00;
$success: #00b034;
$yiq-contrasted-threshold: 200;
$link-color: $primary;
$font-size-base: 0.875rem;
$line-height-base: 1.4;
$btn-line-height-lg: inherit;
$btn-font-size: inherit;
$btn-font-size-lg: 18px;
$btn-padding-y-lg: 16px;
$btn-font-weight: 500;
$border-radius: 0;
$border-radius-lg: 0;
$pagination-padding-y: 8px;
$pagination-padding-x: 0;
$pagination-color: inherit;
$pagination-hover-color: $primary;
$pagination-hover-bg: transparent;
$pagination-active-bg: $primary;
$pagination-border-width: 0;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1500px
);
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1470px
);
