.category-nav {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin-top: 5px;
  }

  a {
    color: inherit;
  }

  ul {
    padding: 0;
    list-style: none;
    margin: 0 0 0 25px;
  }
}
