.footer__middle {
  padding: 40px 0;
}

.footer__title {
  font-size: 24px;
  font-weight: bold;
  color: #535353;
  margin-bottom: 20px;
}

.footer__social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__social li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__menu li:not(:last-child) {
  margin-bottom: 5px;
}

.footer__menu a {
  color: #535353;
  font-size: 16px;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .footer__menu {
    margin-top: 40px;
  }
}
