.header {
  padding: 20px 0;
  border-bottom: 1px solid #e8edf2;
}

.header__btn {
  min-width: 180px;
}

.header__btn + .header__btn {
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .header__site-logo {
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .header__btn + .header__btn {
    margin-top: 0;
    margin-left: 15px;
  }

  .header__site-logo {
    vertical-align: middle;
  }
}
