.slider {
  position: relative;
  padding-top: 30px;

  .owl-nav {
    svg {
      fill: #ffffff;
      width: 15px;
      height: 26px;
    }

    .owl-prev {
      left: 30px;
    }

    .owl-next {
      right: 30px;
    }
  }
}

.content-slider__item {
  position: relative;
}

.content-slider__item-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 90px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;

  .content-slider__item-row--1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .content-slider__item-row--2 {
    font-size: 18px;
  }

  a {
    display: inline-block;
    margin-top: 80px;
    font-size: 18px;
    font-weight: bold;
    color: #efec00;
    text-decoration: underline;
  }
}
